# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List of popular languages for Data Science
- List of common used libararies for Data Science
- Evaluating arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:

    1-Python
    2-R
    3-SQL
    4-JAVA

Some of the commonly used libraries used by Data Scientists include:

    1-Pandas
    2-NumPy
    3-Scikit-learn
    4-Matplotlib

| Data Science Tools| 
| ------ | 
| RStudio | 
| Apache Spark| 
| Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5.

17.0

In [7]:
# This will convert 200 minutes to hours by diving by 60
print(200/60,"hours")

3.3333333333333335 hours

## Author
Shahem Al-Naber